.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.6rem;
    padding: 2.4rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .2s;
    

    &-icon{
        font-size: 7rem;
        margin-bottom: .5rem;
        color: $color-primary;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }


}