*,
*::after,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}

body{
   box-sizing: border-box;
}

h3 {
    font-size: 2rem;
    color: lightgreen;
    text-transform: uppercase;
    font-weight: 700;
}